* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*:focus {
	outline: 0;
}
/*line, text, tspan, #coordinategrid {
	pointer-events: none;
}*/
.hidden {
	visibility: hidden;
}
.top {
	z-index: 100;
}
.title {
	font-family: "Open Sans", sans-serif;
	font-size: 60px;
	fill: #ffffff;
}